<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="IdentityConnection" connectionString="Server=tcp:tgcq961alv.database.windows.net,1433;Database=membership_dev;User ID=d_user@tgcq961alv;Password=d_P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LinksConnection" providerName="System.Data.SqlClient" connectionString="Server=tcp:tgcq961alv.database.windows.net,1433;Database=links_dev;User ID=d_user@tgcq961alv;Password=d_P@ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />-->
    <add name="LinksConnection" providerName="System.Data.SqlClient" connectionString="Server=.;Database=links_dev;Integrated Security=true;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
    <contexts>
      <context type="Links.Data.LinksContext, Links.Data">
        <databaseInitializer type="System.Data.Entity.DropCreateDatabaseAlways`1[[Links.Data.LinksContext, Links.Data]], EntityFramework" />
      </context>
    </contexts>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>